:root {
    --bg_colour: black; 
    --title_colour: white;
    --txt_colour: white; 
    --random_factor: 0; 
}

@media only screen and (max-width: 768px) {
    .hide-on-mobile {
        display: none !important; 
    }
    .dynamic-section {
        margin-left: 0;
        margin-right: 0;

        grid-template-columns: 1fr;
    }
}

.sticky {
    background-color: aqua;
    position: sticky;
    top: 0;
    height: 20vh;
    display: flex;
    z-index: 10;
}

.navbar {
    background-color: red;
    height: 20vh;
    width: 100%;
}


.sidebar {
    background-color: purple;
    width: 32rem;
    height: 100vh;
}

.section-bumper {
    flex-shrink: 0;
    height: 30em;
    width: 32rem;
}

.dynamic-section {
    background-color: var(--bg_colour);
    color: var(--txt_colour);

    min-height: 30em;
    padding: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "title paper1"
    "paper2 image";

    gap: 2rem;

    /* keeps content away from sidebars */
    max-width: calc(100vw - 64rem);
    margin: 0 auto;
}

.section-title {
    grid-area: title;
}

.paper-1 {
    grid-area: paper1;
}

.paper-2 {
    grid-area: paper2;
}

.section-image {
    grid-area: image;
}

.section-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-divider {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.torn-paper {
    width: 100%;
    height: 100%;

    min-height: 12rem;

    background-image: radial-gradient(#aaaa00, #dddd00);

    box-sizing: border-box;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}



#left_sidebar {
    left: 0;
}

#right_sidebar {
    margin-left: auto;
}